.table-representation table {
    border-collapse: collapse;
    margin-bottom: -1px;
}
.table-representation table td, table th {
    text-align: center;
    border: 1px solid gray;
}

.table-representation table th {
    padding: 1px;
}

.table-representation input {
    margin : 5px;
    vertical-align: middle;
}

.table-representation ul {
    list-style:none;
}

.table-representation li {
    float:left;
    padding:5px;
    margin: 5px;
    border: 1px solid gray;
}

.table-representation label {
    vertical-align: middle;
}

.table-representation div {
    padding: 5px;
    display: table;
}

.table-representation .error {
    background-color: pink;
}

.table-representation {
    background-color: white;
    position: relative;
    min-height: 100%;
}

.table-representation .complex_block {
    border: 1px dashed #eee;
    padding: 10px;
}

.table-representation h2 {
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #eee;
}


.table-representation.collection_horizontal th>button,
.table-representation.collection_horizontal td>button,
.table-representation .collection_horizontal th>button,
.table-representation .collection_horizontal td>button {
    width: 100%;
}

.table-representation.collection_block,
.table-representation .collection_block {
    display: inline-block;
}

.table-representation button {
    border: 1px solid #777;
    background-color: #EEE;
    color: black;
}

.table-representation button:hover {
    background-color: #CECECE;
}

.table-representation button:active {
    border-style: solid;
    background-color: #C7C7C7;
    outline: none;
}

.table-representation button:focus {
    border-style: solid;
    outline: none;
}

.table-representation div {
    width: calc(100% - 9px);
}

.table-representation [disabled="disabled"] {
    display: none !important;
}

.table-representation .overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0,0,0,0.5);
}

.table-representation .modal {
    width: 300px;
    height: 200px;
    line-height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -150px;
    text-align: center;
    z-index: 11;
    font-size: 3em;
    color: whitesmoke;
}

.table-representation .invisible,
.table-representation.invisible {
    display: none;
}