.table-representation table {
    border-collapse: collapse;
}
.table-representation table td, table th {
    text-align: center;
    border: 1px solid gray;
}

.table-representation table th {
    padding: 5px;
}

.table-representation input {
    margin : 5px;
    vertical-align: middle;
}

.table-representation ul {
    list-style:none;
}

.table-representation li {
    float:left;
    padding:5px;
    margin: 5px;
    border: 1px solid gray;
}

.table-representation label {
    vertical-align: middle;
}

.table-representation div {
    padding: 5px;
    display: table;
}

.table-representation .error {
    background-color: pink;
}

.table-representation {
    background-color: white;
}